@model GSendService.Models.ToolsModel
@{
    ViewData["Title"] = Model.SeoTitle;
}

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.ToolDatabase</h3>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" width="10%">@GSend.Language.Resources.Id</th>
            <th scope="col" width="55%">@GSend.Language.Resources.Name</th>
            <th scope="col" width="15%">@GSend.Language.Resources.ToolsHoursUsed</th>
            <th scope="col" width="10%"></th>
            <th scope="col" width="10%"></th>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (GSendService.Models.ToolModel tool in Model.Tools)
        {
            <tr>
                <td scope="row">@tool.Id</td>
                <td>@tool.Name</td>
                <td>@GSendShared.HelperMethods.TimeSpanToTime(tool.TotalTimeUsed)</td>
                <td><a class="btn btn-primary fr" href="/Tools/Edit/@tool.Id/" role="button">@GSend.Language.Resources.Edit</a></td>
                <td><a class="btn btn-primary fr" href="/Tools/ViewUsage/@tool.Id/" role="button">@GSend.Language.Resources.View</a></td>
            </tr>
        }
    }
    </tbody>
</table>
<div class="row">
    <div class="col-sm-2">
        
    </div>
    <div class="col-sm-9">
        
    </div>
    <div class="col-sm-1">
        <a class="btn btn-primary fr" href="/Tools/Add/" role="button">@Languages.LanguageStrings.Add</a>
    </div>
</div>
