@model GSendService.Models.EditMachineModel
@{
    ViewData["Title"] = $"{Model.Name} {Model.SeoTitle}";
}
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.MachineAdd</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div>@Html.ValidationSummary(false)</div>
    </div>
</div>

@using (Html.BeginForm(nameof(GSendService.Controllers.MachinesController.Add), GSendService.Controllers.MachinesController.Name, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="row rowSpace">
        <div class="col-4">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="col-6">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="row rowSpace">
        <div class="col-4">
            @Html.LabelFor(m => m.MachineType)
        </div>
        <div class="col-6">
            @Html.DropDownListFor(m => m.MachineType, new SelectList(Model.MachineTypes), new { @class = "form-control" })
        </div>
    </div>
    <div class="row rowSpace">
        <div class="col-4">
            @Html.LabelFor(m => m.MachineFirmware)
        </div>
        <div class="col-6">
            @Html.DropDownListFor(m => m.MachineFirmware, new SelectList(Enum.GetValues(typeof(GSendShared.MachineFirmware))), new { @class = "form-control" })
        </div>
    </div>
    <div class="row rowSpace">
        <div class="col-4">
            @Html.LabelFor(m => m.ComPort)
        </div>
        <div class="col-6">
            @Html.DropDownListFor(m => m.ComPort, new SelectList(Model.ComPorts), new { @class = "form-control" })
        </div>
    </div>
    <div class="row rowSpace">
        <div class="col-4">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">@Languages.LanguageStrings.Save</button>
        </div>
    </div>
}

