@model GSendService.Models.IndexViewModel
@{
    ViewData["Title"] = Model.SeoTitle;
}

<div class="row">
    <div class="col-sm-12">
        <h3>GSend Control Panel</h3>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" width="6%"></th>
            <th scope="col" width="25%">@GSend.Language.Resources.Name</th>
            <th scope="col" width="8%">Type</th>
            <th scope="col" width="10%">CPU</th>
            <th scope="col" width="10%">ComPort</th>
            <th scope="col" width="10%">Connected</th>
            <th scope="col" width="15%">@GSend.Language.Resources.Status</th>
            <th scope="col" width="5%"></th>
            <th scope="col" width="5%"></th>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (GSendShared.IMachine machine in Model.Machines)
        {
            string machineStatus = $"mStat{machine.Id}";
            string machineCon = $"mConn{machine.Id}";
            string machineCpu = $"mCpu{machine.Id}";
            <tr>
                <td scope="row">
                    @switch (machine.MachineType)
                    {
                        case GSendShared.MachineType.CNC:
                            <img src="/images/CNC32x32.png" alt="CNC Router" />
                            break;

                        case GSendShared.MachineType.Printer:
                            <img src="/images/3DPrinter32x32.png" alt="CNC Router" />
                            break;
                    }
                </td>
                <td>@machine.Name</td>

                <td>@machine.MachineType</td>
                <td><span id="@machineCpu">0.0%/0.0%</span></td>
                <td>@machine.ComPort</td>
                <td><button id="@machineCon" class="btn bg-secondary" onclick="javascript:gSend.connectToMachine(@machine.Id);">@GSend.Language.Resources.No</button></td>
                <td><button id="@machineStatus" class="btn bg-secondary" onclick="javascript:gSend.clearAlarm(@machine.Id);" style="display:none;"></button></td>
                <td><a class="btn btn-primary" href="/Machines/View/@machine.Id/" role="button">@GSend.Language.Resources.View</a></td>
                <td><a class="btn btn-primary" href="/Machines/Delete/@machine.Id/" role="button">@Languages.LanguageStrings.Delete</a></td>
            </tr>
        }
    }
    </tbody>
</table>
<div class="row">
    <div class="col-sm-2">
        <p><span id="connectionState" class="badge bg-danger">Server Not Connected</span></p>
    </div>
    <div class="col-sm-9">
        
    </div>
    <div class="col-sm-1">
        <a class="btn btn-primary" href="/Machines/Add/" role="button">@Languages.LanguageStrings.Add</a>
    </div>
</div>
<script>
    scheme = document.location.protocol === "https:" ? "wss" : "ws";
    port = document.location.port ? (":" + document.location.port) : "";

    let settings = {
        connState: document.getElementById("connectionState"),
        serverIp: scheme + "://" + document.location.hostname + port + "/webclient/",
        statusUpdateCode: 'mStatusAll',
        connectedYes: '@Languages.LanguageStrings.Yes',
        connectedNo: '@Languages.LanguageStrings.No'
    }

    gSend.init(settings);
</script>
