@model GSendService.Models.IndexViewModel
@{
    ViewData["Title"] = Model.SeoTitle;
}

<div class="row">
    <div class="col-sm-12">
        <h3>GSend Control Panel</h3>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <th scope="col" width="6%"></th>
        <th scope="col" width="25%">@Languages.LanguageStrings.Name</th>
        <th scope="col" width="8%">Type</th>
        <th scope="col" width="10%">CPU</th>
        <th scope="col" width="10%">ComPort</th>
        <th scope="col" width="10%">Connected</th>
        <th scope="col" width="15%">@Languages.LanguageStrings.Status</th>
        <th scope="col" width="10%"></th>
    </th>
        @{
        foreach (GSendShared.IMachine machine in Model.Machines)
        {
            string machineStatus = $"mStat{machine.Id}";
            string machineCon = $"mConn{machine.Id}";
            string machineCpu = $"mCpu{machine.Id}";
            <tr>
            <td scope="row">
                @switch (machine.MachineType)
                {
                    case GSendShared.MachineType.CNC:
                        <img src="/images/CNC32x32.png" alt="CNC Router" />
                        break;

                    case GSendShared.MachineType.Printer:
                        <img src="/images/3DPrinter32x32.png" alt="CNC Router" />
                        break;
                    }
            </td>
            <td>@machine.Name</td>

            <td>@machine.MachineType</td>
            <td><span id="@machineCpu">0.0%/0.0%</span></td>
            <td>@machine.ComPort</td>
                <td><button id="@machineCon" class="btn bg-secondary" onclick="javascript:gSend.connectToMachine(@machine.Id);">@Languages.LanguageStrings.No</button></td>
            <td><button id="@machineStatus" class="btn bg-secondary" onclick="javascript:gSend.clearAlarm(@machine.Id);"></button></td>
            <td><a class="btn btn-primary" href="/ViewMachine/@machine.Id/" target="_blank" role="button">@Languages.LanguageStrings.View</a></td>
        </tr>
    }
}
</table>

<div class="row">
    <div class="col-sm-2">
        <p><span id="connectionState" class="badge bg-danger">Server Not Connected</span></p>
    </div>
</div>
<script>
    scheme = document.location.protocol === "https:" ? "wss" : "ws";
    port = document.location.port ? (":" + document.location.port) : "";

    let settings = {
        connState: document.getElementById("connectionState"),
        serverIp: scheme + "://" + document.location.hostname + port + "/client",
        statusUpdateCode: 'mStatus',
    }

    gSend.init(settings);
</script>
