@model gsend.pro.Models.MCodeIndex
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuMCodes</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><strong>What is an M Code?</strong> An M code in CNC controls miscellaneous machine functions, standard M codes include spindle control, program start and stop and coolant control, to name a few.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>GSend Pro includes a number of custom M codes that can be used within your G-code.  These allow you to customize and control external elements as well as automate tasks, whilst the program runs.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following custom M Codes are currently supported</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead><tr><th>@GSend.Language.Resources.WebMenuMCode</th><th>@GSend.Language.Resources.Description</th></tr></thead>
            <tbody>
                @{
                    foreach (string mCode in Model.AvailableMCodes)
                    {
                        System.Resources.ResourceManager resManager = GSend.Language.Resources.ResourceManager;
                        string menuData = resManager.GetString($"WebDesc{mCode.ToString().Replace(".", "_")}", GSend.Language.Resources.Culture);
                        string uri = $"/MCodes/{mCode}/";
                        <tr>
                        <td>
                        <a href="@uri">@mCode</a>
                        </td>
                        <td>
                        @menuData
                        </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
