@model gsend.pro.Models.MCodeModel
<div class="row">
    <div class="col-sm-12">
        <h3>@Model.Description</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.MCode sets the timeout value for custom M codes, it allows a timeout between 100ms and 10000ms.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuUsage</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.MCode must be immediately followed by a P-code, the P code must have a value between 100 and 10000 which indicates the number of milliseconds to set for timeout.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuExample</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following example sets a timeout to 1000ms (1 second) when sending commands to a COM port.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <code>
            @Html.ToGCode(@"M601P1000
            M620 ;COM9
            M622;COM9:SETPINHIGH:A9
            M621;COM9
            .. other g code here
            M30")
        </code>
    </div>
</div>

@await Html.PartialAsync("~/Views/MCodes/_seeAlso.cshtml", Model)