@model gsend.pro.Models.MCodeModel
<div class="row">
    <div class="col-sm-12">
        <h3>@Model.Description</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.MCode is used to open a COM port, this can be used to control other devices attached to the computer, like an Arduino board.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuParameters</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="paramTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Optional</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>COM Port</td>
                    <td>No</td>
                    <td>Name of the COM port to be opened, i.e. COM2</td>
                </tr>
                <tr>
                    <td>Timeout</td>
                    <td>Yes</td>
                    <td>Timeout period for read/write and opening port.  Default 1000ms, minimum 100ms, maximum 10000ms</td>
                </tr>
                <tr>
                    <td>Baud Rate</td>
                    <td>Yes</td>
                    <td>Baud rate for communicating with the COM port, default value is 115200.  Consult device manufacturer for expected baud rate.</td>
                </tr>
                <tr>
                    <td>Parity</td>
                    <td>Yes</td>
                    <td>Specifies the parity bit for communication, default value is None.  Valid values are: None, Odd, Even, Mark and Space </td>
                </tr>
                <tr>
                    <td>Data Bits</td>
                    <td>Yes</td>
                    <td>Data bits length, default value is 8.  Valid values are 5, 6, 7 &amp; 8</td>
                </tr>
                <tr>
                    <td>Stop Bits</td>
                    <td>Yes</td>
                    <td>Sets the number of stop bits ber byte.  Default value is One.  Valid values are One, Two, OnePointFive</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuUsage</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>A COM port can be openend and closed as many times as required.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Each @Model.MCode command must be on a line with no other commands.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The name of the COM port must appear as a comment after the @Model.MCode command but on the same line.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Optional paramaters must be filled in sequence, for example, if you wish to set Parity then you must also set Timeout and Baud Rate.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if the COM port does not exist.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if the baud rate is not greater than 0, an error may also occur if the baud rate exceeds the maximum baud rate for the devvice.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><a href="/Home/Variables">Variables</a> can be used to ensure the line limit of 256 characters is not breached</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuExample</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following sample opens a COM port, sends a command without waiting for a response and then closes the COM port.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            <code>
                @Html.ToGCode(@"M620 ;COM9
M622;COM9:SETPINHIGH:A9
M621;COM9
.. other g code here
M30")
            </code>

            <p>The above example assumes that there is a custom program running on the port which can accept the <a href="/MCodes/M622">M622</a> command</p>
    </div>
</div>

@await Html.PartialAsync("~/Views/MCodes/_seeAlso.cshtml", Model)