<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuM623</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>M623 is used to send a command to an open COM port and block any commands from running until a response is received.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuParameters</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="paramTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Optional</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>COM Port</td>
                    <td>No</td>
                    <td>Name of the COM port to be opened, i.e. COM2</td>
                </tr>
                <tr>
                    <td>Timeout</td>
                    <td>No</td>
                    <td>Timeout value waiting for a response, between 100 and 10000 milliseconds</td>
                </tr>
                <tr>
                    <td>Response</td>
                    <td>No</td>
                    <td>Expected response from the device attached to the COM port.</td>
                </tr>
                <tr>
                    <td>Command</td>
                    <td>No</td>
                    <td>Data to be sent to the COM port</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuUsage</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Data is sent to an open COM port as a string, it is up to the device connected to interperate the data and provide a response.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Each M623 command must be on a line with no other commands.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The name of the COM port must appear as the first parameter within the comment but on the same line.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The timeout period in milliseconds must appear as the second parameter.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The expected response must appear as the third parameter.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The data to be sent to the COM port must appear as the fourth parameter.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if the COM port does not exist or has not been opened.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if the parameters of the M623 command are not correctly formatted.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if the timeout period exceeds 10 seconds (10000ms).</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown and the job running will be stopped if the timeout period is reached whilst waiting for a response or if the response does not match the expected response.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The parameters required are the COM port, the time out period in milliseconds, the expected response and the string data to be sent, parameters must be seperated by a colon (:).</p>
        <code>@Html.ToGCode("M623:COM3:500:ok:data to send")</code>
        <p>In the above example the port is COM3, the timeout is 500ms, the expected response is "ok" and the data is "data to send"</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><a href="/Home/Variables">Variables</a> can be used to ensure the line limit of 256 characters is not breached</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuExample</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following sample opens a COM port, sends a blocking command and waits upto 1000ms for a response, the response is then validated against the expected response and then the COM port is closed. In this example the string "SETPINHIGH:A9" is the data sent to the com port.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            <code>
                @Html.ToGCode(@"M620 ;COM9
M623;COM9:1000:ok:SETPINHIGH:A9
M621;COM9
.. other g code here
M30")
            </code>

            <p>The above example assumes that there is a custom program running on the port which can accept the command and provide the expected response.</p>
    </div>
</div>
