@model gsend.pro.Models.MCodeModel
<div class="row">
    <div class="col-sm-12">
        <h3>@Model.Description</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.MCode is used when parameters are required when running an executable using M630.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuParameters</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="paramTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Optional</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Parameters</td>
                    <td>No</td>
                    <td>List of all parameters required.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuUsage</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Each @Model.MCode command must be on a line with no other commands.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if there are no parameters specified.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if the command does not come directly before an M630 command.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><a href="/Home/Variables">Variables</a> can be used to ensure the line limit of 256 characters is not breached</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuExample</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following sample runs an executable, with parameters. In this instance the parameters "--p" are passed when running the executable.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            <code>
                @Html.ToGCode(@"M630.1 ; --p
M630;c:\program files\myexecutable.exe
.. other g code here
M30")
            </code>
    </div>
</div>

@await Html.PartialAsync("~/Views/MCodes/_seeAlso.cshtml", Model)