@model gsend.pro.Models.MCodeModel
<div class="row">
    <div class="col-sm-12">
        <h3>@Model.Description</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.MCode is used when specifying a valid return code, when running an executable using M631.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuParameters</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="paramTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Optional</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>None</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuUsage</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Each @Model.MCode command must be on a line with only a P code on the same line.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.MCode must have a P code straight after it and the value of the P code represents the return value after running the executable file.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if there are no P code is present.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if the @Model.MCode does not precede either M630 or M630.1</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuExample</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following sample runs an executable, with parameters. In this instance the parameters "--p" are passed when running the executable and the executable exit code should be 0 (zero).</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            <code>
                @Html.ToGCode(@"M631.2P0
M631.1 ; --p
M631;c:\program files\myexecutable.exe
.. other g code here
M30")
            </code>
    </div>
</div>

@await Html.PartialAsync("~/Views/MCodes/_seeAlso.cshtml", Model)