@model gsend.pro.Models.MCodeModel
<div class="row">
    <div class="col-sm-12">
        <h3>@Model.Description</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.MCode is used to run an executable file and block any commands from running until a response is received and validated.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuParameters</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="paramTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Optional</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Executable</td>
                    <td>No</td>
                    <td>Name of the .exe executable to be run</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuUsage</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Each @Model.MCode command must be on a line with no other commands.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>An error will be shown if the executable file is not found.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Parameters can be added by using M631.1 M code, this must appear in the line previous to @Model.MCode.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Expected result can be set using M631.2, this must appear in the line previous to the M631(.x) or on the line after the @Model.MCode.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><a href="/Home/Variables">Variables</a> can be used to ensure the line limit of 256 characters is not breached</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuExample</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following sample runs an executable, with parameters and blocks until a response is received, in this instance the response received should be 0 (zero).</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            <code>
                @Html.ToGCode(@"M631.1 ; --p
M631.2P0
M631;c:\program files\myexecutable.exe
.. other g code here
M30")
            </code>
    </div>
</div>

@await Html.PartialAsync("~/Views/MCodes/_seeAlso.cshtml", Model)